extends layout

block content
    p
    body.entrieslist
        h1= entries.stockname
        table
            each header in ['Year', 'Month','Day','Trade #','Buy / Sell','Quanity','Price','Commission','Total Shares','ACB (Per Unit)','ACB (Total)','Capital Gains / Losses','Function']
                th= header
            each entry, i in entries
                if editId == entry._id
                    tr
                        form(method='post')
                            input(name='stockname' value=entries.stockname hidden)
                            input(name='_id' value=entry._id hidden)
                            td.input
                                select.input(name='year', value=editEntry.year, required)
                                    - var now=parseInt(new Date().getFullYear())
                                    - var set=parseInt(editEntry.year)
                                    - var year=now + 1
                                    while year >= 2000
                                        option.input(value=year, selected=year===set)= year--
                            td.input
                                select.input(name='month', required)
                                    - var set=parseInt(editEntry.month)
                                    - var month=1
                                    while month <= 12
                                        option.input(value=month, selected=month===set)= month++
                            td.input
                                select.input(name='day', required)
                                    - var set=parseInt(editEntry.day)
                                    - var day=1
                                    while day <= 31
                                        option.input(value=day, selected=day===set)= day++
                            td.input
                                input(type='number', step=1, min=0, name='tradenumber', value=editEntry.tradenumber , required)
                            td.input
                                select.input(name='buysell', required)
                                    option.input(value='buy', selected=editEntry.buysell === 'buy') buy
                                    option.input(value='sell', selected=editEntry.buysell === 'sell') sell
                            td.input
                                input(type='number', step=1, min=1, name='quanity', value=editEntry.quanity, autofocus, required)
                            td.input
                                input(type='number', step='any', min=0, name='price', value=editEntry.price, required)
                            td.input
                                input(type='number', step='any', min=0, name='commission', value=editEntry.commission, required)
                            td.input
                            td.input
                            td.input
                            td.input
                            td.input
                                div
                                    span.tableCells
                                        button.add(type='submit', onclick="form.action='/editentry'") ✓
                                    span.tableCells
                                        button.edit(type='submit', onclick="form.action='/canceledit'") ✘
                else
                    form(method='post')
                        input(name='stockname', value=entries.stockname, hidden)
                        input(name='_id', value=entry._id, hidden)
                        tr
                            each key in ['year','month','day','tradenumber','buysell','quanity','price','commission','totalshares','acbperunit','acbtotal','capitalgainloss']
                                td= entry[key]
                                input(name=key, value=entry[key], hidden)
                            td
                                if !editId
                                    div
                                        span.tableCells
                                            button.edit(type='submit', onclick="form.action='/editmode'") E
                                        span.tableCells
                                            button.remove(type='submit', onclick="form.action='/deleteentry'") ✘
            if !editId
                tr
                    script.
                    form(method='post', action='/addentry')
                        input(name='stockname' value=entries.stockname hidden)
                        td.input
                            select.input(name='year', value=liveEntry.year, required)
                                - var now=parseInt(new Date().getFullYear())
                                - var set=liveEntry.year ? parseInt(liveEntry.year) : now
                                - var year=now + 1
                                while year >= 2000
                                    option.input(value=year, selected=year===set)= year--
                        td.input
                            select.input(name='month', required)
                                - var now=parseInt(new Date().getMonth()+1)
                                - var set=liveEntry.month ? parseInt(liveEntry.month) : now
                                - var month=1
                                while month <= 12
                                    option.input(value=month, selected=month===set)= month++
                        td.input
                            select.input(name='day', required)
                                - var now=parseInt(new Date().getDate())
                                - var set=liveEntry.day ? parseInt(liveEntry.day) : now
                                - var day=1
                                while day <= 31
                                    option.input(value=day, selected=day===set)= day++
                        td.input
                            input(type='number', step=1, min=0, name='tradenumber', value=liveEntry.tradenumber ? liveEntry.tradenumber:1, autofocus=liveEntry.year, required)
                        td.input
                            select.input(name='buysell', required)
                                option.input(value='buy', selected=liveEntry.buysell !== 'sell' ? true : false) buy
                                option.input(value='sell', selected=liveEntry.buysell === 'sell' ? true : false) sell
                        td.input
                            input(type='number', step=1, min=1, name='quanity', value=liveEntry.quanity ? liveEntry.quanity : null, autofocus=!liveEntry.year, required)
                        td.input
                            input(type='number', step='any', min=0, name='price', value=liveEntry.price ? liveEntry.price : null, required)
                        td.input
                            input(type='number', step='any', min=0, name='commission', value=liveEntry.commission ? liveEntry.commission : 9.99, required)
                        td.input
                        td.input
                        td.input
                        td.input
                        td.input
                            button.add(type='submit') ADD
        p= 'Back To '
            a(href='/stocklist') Stock List
    script.
        if ("#{liveEntry.year}") {
            alert('You already have an entry matching this data.');
        }